@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.phone {
  width: 428px;
  height: 926px;
  border-radius: 50px;
  background-color: #2C2F35;
  margin: 0 auto;
  font-family: roboto;
  position: relative;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding-top: 40px;
  text-align: center;
}

.phone-container {
  margin: 0 auto;
  max-width: 370px;
}

.box-parent {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 45px;
}

.box {
  width: 117px;
  height: 50px;
  border-radius: 10px;
  background-color: #32363C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.box-text {
  font-size: 11px;
  font-weight: 500;
}

.box-text-2 {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  color: white;
}

.coins {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  color: white;
  padding-left: 140px;
  margin-top: 40px;
  align-items: center;
}

.coins img {
  width: 49px;
  margin-top: -10px;
}

.hamster {
  margin-left: 25px;
  margin-top: 155px;
  position: relative;

}

.text1 {
  position: absolute;
  color: white;
  top: 200px;
  left: 200px;
  display: block;
  animation: animation;
  animation-duration: 1s;
}

.text2 {
  position: absolute;
  color: white;
  top: 200px;
  left: 200px;
  display: none;
}

@keyframes animation {
  from {
    top: 200px;
  }

  to {
    top: 50px;
  }

}

.parent {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 58px;
}

.left {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.right {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.box-parent-2 {
  background-color: #32363CB2;
  height: 60px;
  border-radius: 12px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.box-2 {
  width: 65px;
  height: 50px;
  border-radius: 8px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  flex-direction: column;
  font-size: 9px;
  color: white;

}

.box-2:hover {
  background-color: #21242980;
}

.modal {
  width: 375px;
  height: 502px;
  border-radius: 20px;
  border: 1px solid #8575756E;
  background-color: #2C2F35;
  box-shadow: 4px 4px 10px 5px #00000040;
  padding: 50px;
  position: absolute;
  top: 312px;
  left: 25px;
  padding-top: 30px;
  padding-left: 30px;
}

.exit-btn {
  background: none;
  border: none;
  margin-left: 280px;
  margin-bottom: 30px;
}

.card {
  width: 319px;
  height: 107px;
  border-radius: 15px;
  background-color: #32363C;
  margin-bottom: 15px;
  padding: 15px;
}

.card-top {
  display: flex;
  padding-bottom: 15px;
  gap: 20px;
  align-items: center;
}

.card-text-parent {
  width: 118px;
  height: 42px;
}

.card-text {
  font-size: 9px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}

.card-text-2 {
  font-size: 7px;
  color: gray;
  font-weight: 500;
}

.card nav {
  display: flex;
  align-items: center;
  font-size: 8px;
  color: white;
  font-weight: 600;
  margin-top: 3px;
}

.card-bottom {
  display: flex;
  padding-left: 20px;
  border-top: 1px solid #FFFFFF33;
}

.card-bottom-text {
  width: 184px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 4px;
}

.card-bottom-text p {
  font-size: 9px;
  font-weight: 600;
  color: white;
}

.line {
  width: 1px;
  background-color: #FFFFFF33;
  height: 24px;
}

.card nav img {
  width: 11px;
}

.text-2 {
  font-size: 11px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.text-2 img {
  width: 15px;
}

.modal-2 {
  width: 240px;
  height: 223px;
  border-radius: 20px;
  background-color: #2C2F35;
  box-shadow: 4px 4px 10px 5px #00000040;
  border: 1px solid #8575756E;
  position: absolute;
  top: 173px;
  left: 27px;
  padding: 20px;
}

.exit-btn-2{
  background: none;
  border: none;
  margin-left: 185px;
  margin-top: 20px;
}

.modal-box{
  width: 190px;
  height: 27px;
  border-radius: 15px;
  background-color: #32363C;
  margin-top: 15px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal-box-text{
  font-size: 9px;
  font-weight: 600;
  color: white;
  margin-left: 10px;
}

.modal-box-text-2{
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 11px;
  font-weight: 600;
  color: white;
}

.modal-box-text-2 img{
  width: 15px;
  margin-bottom: 4px;
}

